bottom-sheet-modal2 {
    .content{
        height: 50px;
        position: absolute;
        bottom: 0px;
        top:auto;
        background:blue !important;
    }
  
    .btn-close{
        position:absolute;
        top:0px;
        right:0px;
        font-size:30px;
        color:#fff;
    }
}
